.app {
  text-align: center;
  display: grid;
  gap: 16px;
  grid-template-rows: 120px 1fr;
}
.app-logo {
  height: 100px;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.app-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.app-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
main {
  display: grid;
  gap: 32px;
}
.field-form {
  position: relative;
  width: 420px;
  height: 32px;
  margin: auto;
  display: grid;
  gap: 12px;
}
.number-field-form {
  grid-template-columns: 1fr auto;
}
.phone-field-form {
  grid-template-columns: 88px 1fr auto;
}
.error-msg {
  position: absolute;
  bottom: -14px;  
  font-size: 12px;
  color: #b40000;
}
.phone-field-form .error-msg {
  left: 100px;  
}